---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Blog">
	<h3>Post #1</h1>
  <p>
    Elit magna elit consectetur Lorem esse. 
    Laborum amet ipsum nulla deserunt pariatur 
    quis cupidatat consectetur anim amet cillum 
    magna consequat sint. Tempor id eu 
    reprehenderit laboris irure.
  </p>
	<h3>Post #2</h1>
  <p>
    Elit magna elit consectetur Lorem esse. 
    Laborum amet ipsum nulla deserunt pariatur 
    quis cupidatat consectetur anim amet cillum 
    magna consequat sint. Tempor id eu 
    reprehenderit laboris irure.
  </p>
	<h3>Post #3</h1>
  <p>
    Elit magna elit consectetur Lorem esse. 
    Laborum amet ipsum nulla deserunt pariatur 
    quis cupidatat consectetur anim amet cillum 
    magna consequat sint. Tempor id eu 
    reprehenderit laboris irure.
  </p>
</BaseLayout>